body{

    background-color: blanchedalmond;
    

}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center
    font-color: grey;
    
}
li{
    list-style-type: circle;
}
.button{
    background-color: lavender;
    font-style: arial;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
